<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>計算結果</title>
</head>
<body>
    <h1>計算結果</h1>
    <p>計算式: <%= number1 %> <%= operator %> <%= number2 %></p>
    <p>結果: <%= result %></p>
    <a href="http://localhost:8080/public/calculate.html">もう一度計算する</a>

</body>
</html>
